
<%-include("partials/header")-%>

<h1>Compose</h1>
<form action="/" method="post">
<input type="text" name="text_input" placeholder="Enter the text here" />
<button type="submit">Publish</button>
</form>
<%-include("partials/footer")-%>
